h1{
  color: greenyellow;
  text-align: center;
  background-color: black;
  font-family: monospace;
}

p{
  text-align: justify;
}

strong{
  color:red;
}

nav{
  position:absolute;
  top: 0;
  right: 0;
}
.caixa{
  width: 940px;
  position: relative;
  margin: 0 auto;
  
}
header{
   padding: 20px;/*padding espaçamento interno do elemento*/
}

ul{
  position:center;
}

ul{
  position:relative;
  top:10px;
}

ul{
  position:absolute;
  top:0px;
}
